//variables.scss
$text-font-stack: Arimo, sans-serif;

//Sets bacground color
$bg-primary-color: #007dc6;
$bg-body-color: #f2f2f2;
$bg-nav-color: #fff;

//Sets overlay color (modal/menu)
$overlay-color: rgba(175,175,175,0.72);
$overlay-shadow: #797979;

$header-icon-color: rgba(183, 218, 239, 0.7);

//Sets text color
$main-color: #8e7a7d;
$secondary-color: #333;
$ternary-color: #f3fffb;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

//Sets text size
$text-main-size: 13px;

// Base Font
$base-font-weight: $regular;
