//navigation.scss

.nav-logo {
  border-bottom: 1px solid #e6e6e6;
}
.logo-container {
  @extend .vertical-middle;
  text-align: center;
  text-align: center;
  padding: 10px;
  margin-left: -12px;
}

.nav-menu {
  float: left;
  transition: 0.3s;
  background-color: $bg-nav-color;
  width: 252px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgba(218, 211, 211, 0.56);
}
.nav-container {
  height: 100%;
}
.nav-body {
  overflow: auto;
  height: 100%;
}

.menu {
  padding: 0;
  margin: 13px 0;
}

.menu-item {
  list-style: none;
  //padding: 12px 0;
  &:hover {
    background-color: $bg-body-color;
  }
}

.logo-img {
  max-width: 140px;
  max-height: 110px;
}

.menu-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.2;
  padding: 13px 0px 13px 1px;
  font-size: 12px;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
.material-arrow {
  float: right;
  margin-top: 13px;
  font-size: 16px;
  cursor: pointer;
}
.item-wrapper {
  @extend .clearfix;
  padding: 0 15px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(167, 160, 155, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(194, 184, 184, 0.61);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

&.nav-menu-slide {
  margin-left: -255px;
  transition: 0.3s;
}


