//navigation.scss

.nav-logo {
  border-bottom: 1px solid #e6e6e6;
}
.logo-container {
  @extend .vertical-middle;
  text-align: center;
  text-align: center;
  padding: 10px;
  margin-left: -12px;
}

.nav-menu {
  float: left;
  background-color: $bg-nav-color;
  width: 252px;
  height: 100%;
  border-right: 1px solid rgba(221, 200, 200, 0.74);
}

.menu {
  padding: 0;
  margin: 13px 0;
}

.menu-item {
  list-style: none;
  padding: 12px 0;
  &:hover {
    background-color: $bg-body-color;
  }
}

.logo-img {
  max-width: 140px;
  max-height: 110px;
}

.menu-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.2;
  padding: 2px 10px 0 0;
  font-size: 12px;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
.material-arrow {
  float: right;
  font-size: 16px;
  cursor: pointer;
}
.item-wrapper {
  @extend .clearfix;
  padding: 0 15px;
}
