.header {
  position: relative;
  background-color: #007dc6;
  height: $header-h;
  overflow: hidden;
  z-index: 3;
}
.header-container {
  padding: 0 15px;
}
.header-title {
  overflow: hidden;
}
.header-link {
  &:focus {
    color: $text-color;
  }
  &:hover {
    color: $ternary-color;
    text-decoration: none;
  }
}

.title-text {
  color: $ternary-color;
  font-size: 20px;
  padding-left: 8px;
  font-weight: $regular;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-search {
  @extend .clearfix;
  float: right;
}
.header-title,
.header-search {
  padding: 13px 0;
}
.header-search {
  padding-right: 5px;
}
.material-search {
  color: $header-icon-color;
}

.hamburger {

}
